<div class="container mejor">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">TITLE</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">DATE</th>
        <th scope="col">USER</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{articled.title}}</td>
        <td>{{articled.description}}</td>
        <td>{{articled.date}}</td>
        <td>{{articled.user}}</td>
      </tr>

    </tbody>
  </table>

</div>


<P>{{articled.title}}</P>

